@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.strip {
  position: relative;
  width: 100%;
  text-align: center;
}

.clock {
  width: 13vh;
  margin: auto;
}

.label {
  position: absolute;
  font-weight: bold;
  font-size: 2vh;
  top: -0.5em;
  margin-left: -0.5em;
}

.number, .label, .clock {
  font-family: 'Roboto Condensed'!important;
  color: white;
  display: inline-block;
}

.number {
  font-size: 5vh!important;
}

@media screen and (max-width: 736px) {
    .number {
      font-size: 4.5vh!important;
    }
    .label {
      font-size: 1.75vh!important;
    }
    .clock {
      width: 10vh!important;
      margin: auto;
    }
}

